 <div class="footer-right">
            <div class="logo footer-logo"></div>

            <p class="footer-links">
                <a href="/home">خانه</a>
                ·
                <a href="/">بلاگ می شود</a>
                ·
                <a href="/about">درباره ما</a>
                ·
                <a href="/">پرسش و پاسخ</a>
                ·
                <a href="/">تماس با ما</a>
            </p>

            <p class="footer-company-name">می شود &copy; 2015</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>

                <p><span>خیابان رویاها، کوچه تلاش، پلاک موفقیت</span> یک نقطه از ایران</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>

                <p>+9800000000000</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>

                <p><a href="mailto:support@company.com">support@mishavad.ir</a></p>
            </div>
        </div>
        <div class="footer-left">
            <p class="footer-company-about">
                <span>چرا نشه؟ میشه خوبم میشه!</span>
                می شود یک پلتفرم کراودفاندینگه که خیلی ساده می خواد بگه می شود
            </p>

            <div class="footer-icons">
                <a href="/"><i class="fa fa-facebook"></i></a>
                <a href="/"><i class="fa fa-twitter"></i></a>
                <a href="/"><i class="fa fa-linkedin"></i></a>
                <a href="/"><i class="fa fa-github"></i></a>
            </div>
        </div>