<div id="about-page" class="container">
<!--TODO: Complete this using kick starter FAQ:
https://www.kickstarter.com/help/faq/kickstarter+basics?ref=footer
-->
<p>
<h2>
   می شود چه کار می کند؟ 
</h2>
<p> می شود یک سامانه 
    <strong>
    حمایت مالی جمعی
    </strong>
     یا کراودفاندینگ (Crowdfunding) 
    است که بر افزایش روحیه کارآفرینی و امید در مبتکرین ایرانی تأکید دارد.
    می شود فرصتی را فراهم می آورد تا کاربرانش با مرور پروژه های مختلفی که پروژه آفرینان در آن ارائه می کنند،
    از پروژه هایی که فکر می کنند می توانند برای کسب و کار ایرانی مفید باشند حمایت کنند
</p>
<h2>
    نقش کاربران می شود چیست؟
</h2>
<p>
   کاربران می شود تنها نقش حمایت مالی از پروژه های پست شده در وبسایت را ندارند. آن ها با انتخاب پروژه هایی
   که به نظر آن ها مفید، کاربردی، قابل اجرا، یا جذاب هستند نوعی دموکراسی کسب و کار به وجود می آورند. و قبل از
   اینکه مجریان پروژه ها به اجرای کارهای خود بپردازند فرصتی را برای آن ها فراهم می آورند که مردم از چه چیزهایی خوششان
   می آید و آن ها چه چیزهایی را جذاب می دانند. و این یک نوع آمایش بازار قبل از اقدام به تولید است. 
</p>
</p>
</div>